*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;

    
}

:root{

    --primarycolor:#4CAF4F;
    --neutralBlack: #263238;
    --primaryBlack:#18191F;
    --neutralGray: #4D4D4D;
    --secondNeutralGray:#717171;
}

body{
    padding: 30px 100px;
    background-color:#f5f7fa;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px  ;
    left: 140px;
    right: 140px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.options-menu{
    display: flex;
    gap: 40px;
}

.options-menu ul li{
    list-style: none;
    width: 88px;
}

.options-menu ul li a{
    text-decoration: none;
    color: var(--primaryBlack);
}

.options-menu ul li a:hover{
   color: var(--primaryBlack);
   font-weight: bold;
   transition: 100ms ease-in-out all;
}

.login{
 display: flex;
 gap: 14px ;
 
}

.login a{
    width: 91px;
    height: 41px;
    text-decoration: none;
    color: var(--primarycolor);
    display: flex;
    justify-content: center;
    align-items: center;

}

.login a:hover{
    background-color: var(--primarycolor);
    border-radius: 6px;
    color: #fff;
    transition: 300ms ease-in-out all;

}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    width: 100%;
    margin-top: 100px;
    
}

.info-content-header h1{
    font-size: 51px;
    color: var(--secondNeutralGray);
}

.info-content-header span{
    color: var(--primarycolor);
}
.info-content-header p{
    color:var(--secondNeutralGray);
    margin-top: 16px;
}

.register{
    margin-top: 32px;
    width: 128px;
    height: 52px;
    background-color: var(--primarycolor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register:hover{
    background-color: #378b39;
    transition: 300ms ease-in-out all;

}


.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 120px;;
}

.content-section-one{
    text-align: center;
}

.content-section-one h2{
    margin-top: 40px;
    margin-bottom: 8px;
    color: var(--neutralGray);
}

.content-section-one span{
    color: var(--secondNeutralGray);
    font-size: 12px;
}

.section-one h3{
    font-size: 28px;
    margin-top: 40px;
    max-width:400px;
    text-align: center;
    margin-bottom: 8px;
    color: var(--neutralGray);
    
}


.section-one span{
    font-size: 12px;
    color: var(--secondNeutralGray);
}


.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    background-color: #fff;

}

.content-section-two{
    display:flex ;
    flex-direction: column;
    gap: 15px;
    width: 299px;
    height: 323px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 80px;
    box-shadow:5px 5px 15px  #0000000c;
}

.content-section-two:hover{
    box-shadow:5px 5px 15px  #0000004a;
    transition: 300ms all ease-in-out;

}


.content-section-two img{
    width: 50px;
}

.content-section-two h3{
    font-size: 23px;
    color: var(--neutralGray);
    max-width: 150px;
    text-align: center;
}

.content-section-two p{
    font-size: 12px;
    color: var(--secondNeutralGray);
    max-width: 200px;
    text-align: center;
}
